@media screen and (max-width: 1279px) {
    /* .content */
    .content {
        width: 800px;
    }

    /* .header */
    .header {
        height: 30rem;
    }
    .header__image {
        display: none;
    }
    .header__column {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    /* .background-images */
    .background-images {
        display: none;
    }

    /* .infoblock */
    .infoblock {
        padding: 0;
    }

    /* .footer */
    .footer__content {
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    .footer__form {
        width: auto;
        opacity: .9;
    }
    .footer__column {
        width: auto;
        margin-bottom: 1rem;
    }

    /* .aboutus */
    .aboutus {
        display: flex;
        flex-direction: column;
        background-color: #212121;
        text-align: center;
    }
    .aboutus__name {
        text-align: center;
    }
    .footer__map {
        height: 20rem;
    }

    /* .about */
    .about.about_background .about__avatar-wrapper {
        display: none;
    }
    .about.about_background .about__avtar-wrapper_circle {
        display: block;
    }
    .about.about_background .about__column {
        width: 100%;
    }
    .about.about_background .about__column.about__column_end {
        display: none;
    }

    /* .form */
    .form {
        display: flex;
        align-items: center;
    }

    /* .reviews */
    .reviews__item {
        width: calc(50% - .5rem * 2);
    }
}

@media screen and (max-width: 899px) {
    /* .content */
    .content {
        width: auto;
        padding: 1rem 2rem;
    }

    /* .brand */
    .brand {
        height: 8rem;
    }
    .brand__corp {
        /*width: auto;*/
        display: none;
    }

    /* .header */
    .header {
        height: auto;
    }
    .header__top {
        display: flex;
        justify-content: center;
    }
    .header__top .corp-info {
        display: none;
    }
    .header__info {
        display: block;
    }
    .header__title {
        width: auto;
    }
    .header__content {
        padding: 1.5rem 0;
    }
    .header .button_end {
        margin-right: auto;
    }
    /* .export */
    .export__content {
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: start;
    }
    .export__image {
        /* width: auto; */
        /* max-width: 100%; */
        width: 100%;
    }
    .export__form {
        width: auto
    }

    /* .card */
    .card__wrapper {
        max-width: 100%;
        width: 100%;
        padding: .5rem 1rem;
        text-align: center;
    }
    .card__items {
        padding: 1rem;
        max-width: none;
        flex-direction: column;
    }
    .card__item {
        width: 100%;
    }

    /* .form */
    .form {
        text-align: center;
    }
}

