body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFF;
}

a {
    color: #212121;
    text-decoration: none;
}

/* .content */
.content {
    margin: 0 auto;
    padding: 1rem 0;
    width: 1200px;
}

/* .brand */
.brand {
    height: 8rem;
    display: flex;
    align-items: center;
}

.brand:hover .brand__logo {
    width: 8rem;
}

.brand:hover .brand__corp {
    padding: 0 1rem;
}

.brand__logo {
    width: 7rem;
    transition: 1s;
}

.brand__corp {
    width: 20rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FAFAFA;
    line-height: 1.5rem;
    transition: 1s;
}

/* .corp-info */
.corp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19rem;
}

.corp-info__top {
    padding-bottom: 0.4rem;
    border-bottom: #FAFAFA 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.corp-info__bottom {
    padding-top: 0.3rem;
}
.corp-info__phone-number {
    text-decoration: none;
    color: #FAFAFA;
    transition: color 1s;
}
.corp-info__phone-number:hover {
    color: #FFF;
}

/* .header */
.header {
    position: relative;
    height: 30rem;
    color: #FAFAFA;
}

.header::after {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    content: "";
    z-index: -1;
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(.7);
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content.header__content_z-index-10 {
    position: relative;
    z-index: 10;
}

.header__image {
    width: 25rem;
}

.header__title {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.header__subtitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.header__subtitle_mv-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header__link {
    margin-top: 2rem;
    width: 15rem;
}

.header__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__info {
    display: none;
    padding: 1rem;
}

/* .button */
.button {
    padding: 1rem 2rem;
    border: none;
    color: #FAFAFA;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: #51961B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    user-select: none;
}

.button_center {
    margin-left: auto;
    margin-right: auto;
}

.button_opacity {
    opacity: 0.75;
}

.button_opacity:hover {
    opacity: 1;
    transition: 1s;
}

.button:hover {
    background-color: #60b122;
    transition: 1s;
}

/* .infoblock */
.infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10rem;
}

.infoblock__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.infoblock__subtitle {
    margin-top: 1rem;
    font-size: 1.0rem;
    font-weight: 500;
}

.infoblock__line {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 0.2rem solid #212121;
}

/* .clients */
.clients__cards {
    margin: 1rem 0;
}

/* .mini-card */
.mini-card {
    position: relative;
    border-bottom: .3rem solid #212121;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s;
}

.mini-card::before {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    content: "";
    z-index: -1;
    background-image: url(../images/mini-card-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.6);
}

.mini-card:hover {
    filter: brightness(.8);
}

.mini-card__image {
    margin: 0 auto;
    background-color: #FAFAFA;
    opacity: .75;
    padding: 1rem 0;
    width: 80%; height: 50%;
    object-fit: contain;
}

/* .export */
.export__content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.export__image {
    width: 40rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.export__form {
    width: 100%;
}

/* .form */
.form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form > * {
    margin: .2rem 0;
}

.form_fancybox {
  max-width: 25rem;
}

.form__title {
    font-weight: 700;
    font-size: 1.5rem;
}

.form__subtitle {
    font-size: 1.2rem;
}

.form__label {
    max-width: 20rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.form__input {
    max-width: 20rem;
    width: 20rem;
    padding: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #212121;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #FFF;
}

.form__button {
    margin-top: 1rem;
    max-width: 20rem;
}

/* .card */
.card {
    display: flex;
    justify-content: center;
}

.card__wrapper {
    position: relative;
    max-width: 80%;
    width: 80%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card__background {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.card__title {
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.card__subtitle {
    max-width: 60%;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.card__subtitle_weight-normal {
    font-weight: 400;
}

.card__items {
    position: relative;
    margin: 1rem 0;
    padding: .5rem 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__items::before {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    content: '';
    background-color: rgba(33, 33, 33, .5);
}

.card__item {
    margin: .5rem auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__item-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border-bottom: .1rem solid #FAFAFA;
}

.card__item-subtitle {
    line-height: 1.5rem;
    text-align: center;
}

.card__button {
    margin-top: 1rem;
}

/* .footer */
.footer {
    position: relative;
    padding: 1rem 0;
}

.footer::before {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%; height: 100%;
    content: '';
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__form {
    width: 38.5%;
}

.footer__map {
    width: 100%; height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 0;
}

.footer__column {
    width: 60%;
}

/* .aboutus */
.aboutus {
    position: relative;
    width: auto; height: 30%;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    color: #FAFAFA;
}

.aboutus::before {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%; height: 100%;
    background-color: rgba(33, 33, 33, .5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    content: '';
}

.aboutus__phone-list {
    display: flex;
    flex-direction: column;
}

.aboutus__address-list {
    display: flex;
    flex-direction: column;
}

.aboutus__title {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.aboutus__phone-number {
    margin-bottom: 1rem;
    color: #FAFAFA;
    text-decoration: none;
    line-height: 1.5rem;
    transition: color 1s;
}
.aboutus__phone-number:hover {
    color: #FFF;
}

.aboutus__name {
    font-weight: 500;
    border-bottom: .15rem solid #FAFAFA;
}

/* .column */
.column {
    display: flex;
    flex-direction: column;
}

/* .about */
.about__paragraph {
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.75rem;
}

.about__paragraph:hover {
    color: #000;
    transition: 1s;
}

/* .image */
.image {
    width: 100%; height: 100%;
    object-fit: cover;
}

/* .background-images */
.background-images {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.background-images .background-images__image-wrapper {
    position: absolute;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_top-20perc {
    top: 20%;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_top-25perc {
    top: 25%;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_top-30perc {
    top: 30%;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_left-0 {
    left: 0;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_right-0 {
    right: 0;
}

.background-images .background-images__image-wrapper.background-images__image-wrapper_rotate-180deg {
    transform: rotate(180deg);
}

.background-images .background-images__image {
    width: 100%; height: 100%;
    object-fit: contain;
}

/* .products */
.products__carousel {
    margin-top: 1rem;
}

.products .swiper-button-next {
    color: #51961B;
}

.products .swiper-button-prev {
    color: #51961B;
}

/* .createdby */
.createdby {
    width: 100%;
    background-color: #212121;
}

.createdby__wrapper {
    padding: .5rem 0 !important;
    display: flex;
    justify-content: center;
}

.createdby__span {
    display: flex;
    color: #FAFAFA;
}

.createdby__link {
    margin-left: .3rem;
    color: #FFF;
}

/* .reviews */
.reviews__wrapper {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews__item {
    margin: 0 .5rem;
    margin-top: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.reviews__item:hover .reviews__icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));
}

.reviews__icon {
    padding: .5rem;
    font-size: 6rem;
    color: #53ba04;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 1s;
}

.reviews__title {
    margin: 0;
    margin-top: .5rem;
    font-size: 1.25rem;
    color: #60b122;
}

.reviews__subtitle {
    margin: 0;
    margin-top: .5rem;
    font-size: 1rem;
    color: #60b122;
}

