@import 'index.scss';

.benefits {
    & > .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            flex: 0 1 25%;
            max-width: 25%;
        }
    }
}

