PROJECT_NAME=privolles

HOST_PORT=80

DJANGO_DEBUG=1
DJANGO_USE_SMTP=0
DJANGO_SECRET_KEY=m8-fpkiu3z+%aa313%9661%p0$k0kj+f6%!mg_i-k4qu#jp_9-
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_LANGUAGE_CODE=en-us
DJANGO_TIME_ZONE=UTC

# EMAIL_HOST=
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_PORT=
# EMAIL_USE_SSL=
# EMAIL_USE_TLS=

# RECIPIENT_LIST=