{% load static %}

<div class="about content">
    <div class="infoblock">
        <h2 class="infoblock__title">О нас</h2>
        <div class="infoblock__line"></div>
    </div>
    <p class="about__paragraph">
        Если вашей организации нужен надежный оптовый поставщик, вы можете рассчитывать
        на компанию «ПЛК НН», которая предлагает качественные товары по доступным ценам, а
        также широкий выбор продукции для решения целого спектра задач. Наши сотрудники
        выкладываются на все сто, чтобы клиенты остались довольны сотрудничеством с нами.
        Мы всегда готовы проконсультировать и подобрать лучшие товары в рамках указанного
        бюджета. Комплектуем пиломатериалами строительные объекты.
    </p>
    <p class="about__paragraph">
        Мы гарантируем доставку заказа в кратчайшие сроки, так как сотрудничаем с многими
        логистическими компаниями. Просто сообщите нам, что вам нужно, а мы позаботимся обо
        всем остальном.
    </p>
    <p class="about__paragraph">
        Мы работаем не только по РФ. но и на экспорт. Наша компания обеспечивает физических
        и юридических лиц широким ассортиментом продукции уже не один год. Свяжитесь с
        нами прямо сейчас и узнайте, что мы можем предложить вам сегодня.
    </p>
</div>