body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFF;
}

a {
    color: #212121;
    text-decoration: none;
}

/* .content */
.content {
    margin: 0 auto;
    padding: 1rem 0;
    width: 1200px;
}

/* .brand */
.brand {
    height: 8rem;
    display: flex;
    align-items: center;
}

.brand:hover .brand__logo {
    width: 6rem;
}

.brand:hover .brand__corp {
    padding: 0;
}

.brand__logo {
    width: 5rem;
    transition: 1s;
}

.brand__corp {
    width: 20rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FAFAFA;
    line-height: 1.5rem;
    transition: 1s;
}

/* .corp-info */
.corp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19rem;
}

.corp-info__top {
    padding-bottom: 0.4rem;
    border-bottom: #FAFAFA 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.corp-info__bottom {
    padding-top: 0.3rem;
}
/* .header */
.header {
    position: relative;
    height: 750px;
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0.75);
}

.header::after {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    content: "";
    z-index: -1;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.4); */
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__content {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 25rem;
    /* filter: brightness(0.8); */
}

.header__title {
    width: 30rem;
    line-height: 2rem;
}

.header__subtitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.header__link {
    margin-top: 1rem;
    width: 15rem;
}

.header__column {
    display: flex;
    flex-direction: column;
}

.header__info {
    display: none;
    padding: 1rem;
}

/* .button */
.button {
    padding: 1rem 2rem;
    border: none;
    color: #FAFAFA;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: #51961B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_opacity {
    opacity: 0.75;
}

.button_opacity:hover {
    opacity: 1;
    transition: 1s;
}

.button:hover {
    background-color: #60b122;
    transition: 1s;
}

/* .infoblock */
.infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infoblock__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.infoblock__subtitle {
    margin-top: 1rem;
    font-size: 1.0rem;
    font-weight: 500;
}

.infoblock__line {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 0.2rem solid #212121;
}

/* .clients */
.clients__cards {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .mini-card */
.mini-card {
    position: relative;
    margin: .5rem 0;
    padding: 1rem;
    border-bottom: .3rem solid #212121;
    width: 16rem; height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s;
    background-color: rgba(0, 0, 0, .5);
}

.mini-card::before {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    content: "";
    z-index: -1;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(.6); */
}

.mini-card:hover {
    background-color: rgba(0, 0, 0, .75);
}

.mini-card__image {
    background-color: #FAFAFA;
    opacity: .75;
    padding: 1rem 0;
    width: 100%; height: 50%;
    object-fit: contain;
}

/* .export */
.export__content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.export__image {
    max-width: 30rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.export__form {
    width: 100%;
}

/* .form */
.form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form > * {
    margin: .2rem 0;
}

.form__title {
    font-weight: 700;
    font-size: 1.5rem;
}

.form__subtitle {
    font-size: 1.2rem;
}

.form__label {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.form__input {
    max-width: 20rem;
    padding: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #212121;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #FFF;
}

.form__button {
    margin-top: 1rem;
    max-width: 20rem;
}

/* .card */
.card {
    position: relative;
    margin-left: 5%;
    padding: 1rem 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 1s;
    background-color: #000;
}

.card__background {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    /* filter: brightness(.5); */
}

.card:nth-child(n+2) {
    margin-top: 1.5rem;
}

.card:nth-child(2n) {
    margin-left: 10%;
}

.card__title {
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
}

.card__subtitle {
    max-width: 60%;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.card__subtitle_weight-normal {
    font-weight: 400;
}

.card__items {
    position: relative;
    margin: 1rem 0;
    padding: .5rem 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__items::before {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    content: '';
    background-color: rgba(33, 33, 33, .5);
}

.card__item {
    margin: .5rem auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__item-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border-bottom: .1rem solid #FAFAFA;
}

.card__item-subtitle {
    line-height: 1.5rem;
    text-align: center;
}

.card__button {
    margin-top: 1rem;
}

/* .footer */
.footer {
    position: relative;
    padding: 1rem 0;
}

.footer::before {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%; height: 100%;
    content: '';
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__form {
    width: 34%;
}

.footer__map {
    width: 100%; height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 0;
}

.footer__column {
    width: 60%;
}

/* .aboutus */
.aboutus {
    position: relative;
    width: auto; height: 30%;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    color: #FAFAFA;
}

.aboutus::before {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%; height: 100%;
    background-color: rgba(33, 33, 33, .5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    content: '';
}

.aboutus__phone-list {
    display: flex;
    flex-direction: column;
}

.aboutus__address-list {
    display: flex;
    flex-direction: column;
}

.aboutus__title {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.aboutus__phone {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.aboutus__name {
    font-weight: 500;
    border-bottom: .15rem solid #FAFAFA;
}

/* .column */
.column {
    display: flex;
    flex-direction: column;
}