<footer class="footer">
    <div class="footer__content content">
        <div class="footer__form">
            {% include 'includes/feedback-form.html' with show_description_input=True id='footerFeedbackForm' subtitle='Мы заинтересованы в сотрудничестве с Вами! Отправьте заявку на интересующую Вас продукцию нашей компании и в течении 15 минут с Вами свяжется наш менеджер.' title='Мы заинтересованы в сотрудничестве с Вами!' %}
        </div>
        <div class="footer__column column">
            <div class="column__item aboutus">
                <div class="footer__aboutus aboutus__phone-list">
                    <span class="aboutus__title">Позвоните нам!</span>
                    <span class="aboutus__name">Ксения</span>
                    <a class="aboutus__phone-number" href="tel:+79308198508"><i class="fas fa-phone"></i> +7 (987) 757-57-18</a>
                    <span class="aboutus__name">Татьяна</span>
                    <a class="aboutus__phone-number" href="tel:+79308198508"><i class="fas fa-phone"></i> +7 (910) 386-66-61</a>
                </div>
                <div class="aboutus__address-list">
                    <span class="aboutus__title">Мы находимся по адресу:</span>
                    <span class="aboutus__address"><i class="fas fa-map-marker-alt"></i> г. Бор, Стеклозаводское ш., д.3 к.1, оф.307</span>
                </div>
            </div>
            <iframe class="column__item footer__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d45a927e0086598e25086383b2ba3fb3da2db8a65b09edd71198f789b1e0522&amp;source=constructor" frameborder="0"></iframe>
        </div>
    </div>
</footer>
