{% load static %}

<header class="header">
    <div class="background-images">
        <div class="background-images__image-wrapper background-images__image-wrapper_right-0 background-images__image-wrapper_top-30perc">
            <img src="{% static 'images/branch.png' %}" alt="image" class="background-images__image">
        </div>
        <div class="background-images__image-wrapper background-images__image-wrapper_left-0 background-images__image-wrapper_rotate-180deg background-images__image-wrapper_top-25perc">
            <img src="{% static 'images/branch.png' %}" alt="image" class="background-images__image">
        </div>
    </div>
    <div class="content">
        <div class="header__top">
            <a class="brand" href="/">
                <img class="brand__logo" src="{% static 'images/brand/mini.svg' %}" alt="logo">
                <h1 class="brand__corp">Приволжская Лесная Компания НН</h1>
            </a>
            <div class="corp-info">
                <div class="corp-info__top">
                    <a class="corp-info__phone-number" href="tel:+79308198508">+7 (987) 757-57-18</a>
                    <a class="corp-info__phone-number" href="tel:+79103866661">+7 (910) 386-66-61</a>
                </div>
                <div class="corp-info__bottom">
                    <span>пн-вс, 08:00-18:00 (по МСК)</span>
                </div>
            </div>
        </div>
        <div class="header__content header__content_z-index-10">
            <div class="header__column">
                <span class="header__title">Поставляем качественный лес и пиломатериалы</span>
                <span class="header__subtitle header__subtitle_mv-1rem">В любых количествах точно в срок по РФ и на экспорт.</span>
                <a href="#feedback" class="header__link button button_center button_opacity">Каталог продукции</a>
                <div class="header__info corp-info">
                    <div class="corp-info__top">
                        <a class="corp-info__phone-number" href="tel:+79308198508">+7 (987) 757-57-18</a>
                        <a class="corp-info__phone-number" href="tel:+79103866661">+7 (910) 386-66-61</a>
                    </div>
                    <div class="corp-info__bottom">
                        <span>пн-вс, 08:00-18:00 (по МСК)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

