{% load static %}

<header class="header">
    <div class="content">
        <div class="header__top">
            <a class="brand" href="/">
                <img class="brand__logo" src="{% static 'images/brand/logotype-white.svg' %}" alt="logo">
            </a>
            <div class="corp-info">
                <div class="corp-info__top">
                    <a class="corp-info__phone-number" href="tel:+79308198508">+7 (987) 757-57-18</a>
                    <a class="corp-info__phone-number" href="tel:+79103866661">+7 (910) 386-66-61</a>
                </div>
                <div class="corp-info__bottom">
                    <span>пн-вс, 08:00-18:00 (по МСК)</span>
                </div>
            </div>
        </div>
        <div class="header__content header__content_z-index-10">
            <div class="header__column">
                <h1 class="header__title header__title_big">Привожская лесная компания</h1>
                <span class="header__title">Поставляем качественный лес и пиломатериалы</span>
                <span class="header__subtitle header__subtitle_mv-1rem">В любых количествах точно в срок по РФ и на экспорт.</span>
                <div class="header__link button button_end button_opacity" onclick="showFeedbackForm()">Каталог продукции</div>
                <div class="header__info corp-info">
                    <div class="corp-info__top">
                        <a class="corp-info__phone-number" href="tel:+79308198508">+7 (987) 757-57-18</a>
                        <a class="corp-info__phone-number" href="tel:+79103866661">+7 (910) 386-66-61</a>
                    </div>
                    <div class="corp-info__bottom">
                        <span>пн-вс, 08:00-18:00 (по МСК)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

