{% extends "privolles/base.html" %}
{% load static %}

{% block title %} Приволжская Лесная Компания НН {% endblock %}

{% block content %}

    {% include 'privolles/includes/about.html' %}

    <div class="export content">
        <div class="infoblock">
            <h2 class="infoblock__title">Экспорт</h2>
            <div class="infoblock__line"></div>
        </div>
        <div class="export__content">
            <div class="export__image">
                <img class="image" src="{% static 'privolles/images/airplane.jpg'%}">
            </div>
            <div class="export__form">
                {% include 'privolles/includes/feedback-form.html' with title='Доставим в Вашу страну!' subtitle='Оставьте заявку в наш Экспортный отдел!<br>Узнайте стоимость доставки до Вашей страны!' %}
            </div>
        </div>
    </div>

    <div class="products content">
        <div class="infoblock">
            <h2 class="infoblock__title">Наша продукция</h2>
            <div class="infoblock__line"></div>
        </div>
        <div class="products__item card">
            <div class="card__background" style="background-image: url({% static 'privolles/images/cards/card00.jpg'%});"></div>
            <h2 class="card__title">Круглый лес</h2>
            <div class="card__items">
                <div class="card__item">
                    <span class="card__item-title">Лиственница ГОСТ 22298-76</span>
                    <span class="card__item-subtitle">24см и выше</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Кедр ГОСТ 9463-88</span>
                    <span class="card__item-subtitle">18-50см и выше. Сорт 1-3</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Лиственница ГОСТ 9463-88</span>
                    <span class="card__item-subtitle">18-50см и выше. Сорт 1-3</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Сосна ГОСТ 9463-88</span>
                    <span class="card__item-subtitle">18-50см и выше. Сорт 1-3</span>
                </div>
            </div>
            <a class="card__button button button_opacity" href="#feedback">Узнать цены</a>
        </div>
        <div class="products__item card">
            <div class="card__background" style="background-image: url({% static 'privolles/images/cards/card01.jpg'%});"></div>
            <h2 class="card__title">Пиломатериалы</h2>
            <span class="card__subtitle">ГОСТ 8484-86 СОРТ 1-3, влажность естественная</span>
            <div class="card__items">
                <div class="card__item">
                    <span class="card__item-title">Ливственница</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Сосна</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Кедр</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Берёза</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Осина</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Ель</span>
                    <span class="card__item-subtitle">от 25х100 до 250х250</span>
                </div>
            </div>
            <a class="card__button button button_opacity" href="#feedback">Узнать цены</a>
        </div>
        <div class="products__item card">
            <div class="card__background" style="background-image: url({% static 'privolles/images/cards/card02.jpg'%});"></div>
            <h2 class="card__title">Погонаж</h2>
            <span class="card__subtitle">ГОСТ 8486-86 СОРТ А, АБ, С, Экстра. Влажность 10%</span>
            <div class="card__items">
                <div class="card__item">
                    <span class="card__item-title">Лиственница</span>
                    <span class="card__item-subtitle">Вагонка 12,8х88, Имитация бруса 19х135, Планкен 18х143, Доска пола 28х135, Палубная доска 28х143, Террасная доска 28х143</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Кедр</span>
                    <span class="card__item-subtitle">Кедр, Вагонка 12,8х88, Имитация бруса 19х135, Планкен 18х143</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Сосна</span>
                    <span class="card__item-subtitle">Вагонка 12,8х88, Имитация бруса 19х135, Планкен 18х143</span>
                </div>
            </div>
            <a class="card__button button button_opacity" href="#feedback">Узнать цены</a>
        </div>
        <div class="products__item card">
            <div class="card__background" style="background-image: url({% static 'privolles/images/cards/card03.jpg'%});"></div>
            <h2 class="card__title">Срубы оцилиндрованные</h2>
            <div class="card__items">
                <div class="card__item">
                    <span class="card__item-title">Сосна</span>
                    <span class="card__item-subtitle">18-30см</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Кедр</span>
                    <span class="card__item-subtitle">18-30см</span>
                </div>
                <div class="card__item">
                    <span class="card__item-title">Лиственница</span>
                    <span class="card__item-subtitle">18-30см</span>
                </div>
            </div>
            <a class="card__button button button_opacity" href="#feedback">Узнать цены</a>
        </div>
        <div class="products__item card">
            <div class="card__background" style="background-image: url({% static 'privolles/images/cards/card04.jpg'%});"></div>
            <h2 class="card__title">Кора лиственницы (мульча)</h2>
            <span class="card__subtitle card__subtitle_weight-normal">Кора лиственницы (мульча). Используется садоводами для мульчирования почвы. Срок службы в 20 раз превышает срока службы сосны. Нефракционная. Упаковка в мешки по 60 литров. Продаём мульчу оптом и в розницу.</span>
            <a class="card__button button button_opacity" href="#feedback">Узнать цены</a>
        </div>
    </div>
{% endblock %}
