{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Пиломатериал от производителя, лиственница, кедр, доска, брус, срубы, сосна, ель">
        <meta name="keywords" content="пиломатериал, пиломатериал из России, сосна, ель, лиственница, кедр, пиломатериалы в нижнем новгороде, купить пиломатериалы оптом от производителя">
        <meta property="og:site_name" content="Приволжская Лесная Компания">
        <meta property="og:title" content="Приволжская лесная компания. Пиломатериал, лиственница, кедр, доска, брус, вагонка, срубы. Надежный партнер от природы. Пиломатериалы-для каждого!">
        <meta property="og:description" content="Пиломатериал от производителя, лиственница, кедр, доска, брус, срубы, сосна, ель">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://privolles.ru/static/privolles/images/header-background.jpg">
        <meta property="og:url" content="http://privolles.ru/">
        <meta property="og:locale" content="ru_RU">

        <link rel="canonical" href="http://privolles.ru/">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon256.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/roboto/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/normilize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/media.css' %}">

        {% block extra_css %}
        {% endblock %}

        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include 'includes/message.html' %}

        {% include 'includes/feedback-form.html' with hidden=True extra_css='form_fancybox' id='fancyboxFeedbackForm' subtitle='Оставьте заявку в наш Экспортный отдел!<br>Узнайте стоимость доставки до Вашей страны!' title='Мы заинтересованы в сотрудничестве с Вами!' %}

        {% block content %}{% endblock %}

        {% include 'includes/createdby.html' %}

        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'js/fancybox.umd.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.js' %}" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.maskedinput.min.js' %}" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>

