{% load static %}

<div class="about content">
    <div class="infoblock">
        <h2 class="infoblock__title">О нас</h2>
        <div class="infoblock__line"></div>
    </div>
    <p class="about__paragraph">
        Если вашей организации нужен надежный оптовый поставщик, вы можете рассчитывать
        на компанию «ПЛК НН», которая предлагает качественные товары по доступным ценам, а
        также широкий выбор продукции для решения целого спектра задач. Наши сотрудники
        выкладываются на все сто, чтобы клиенты остались довольны сотрудничеством с нами.
        Мы всегда готовы проконсультировать и подобрать лучшие товары в рамках указанного
        бюджета. Комплектуем пиломатериалами строительные объекты.
    </p>
    <p class="about__paragraph">
        Мы гарантируем доставку заказа в кратчайшие сроки, так как сотрудничаем с многими
        логистическими компаниями. Просто сообщите нам, что вам нужно, а мы позаботимся обо
        всем остальном.
    </p>
    <p class="about__paragraph">
        Мы работаем не только по РФ. но и на экспорт. Наша компания обеспечивает физических
        и юридических лиц широким ассортиментом продукции уже не один год. Свяжитесь с
        нами прямо сейчас и узнайте, что мы можем предложить вам сегодня.
    </p>
</div>

<div class="about about_background">
    <div class="about__wrapper content content_relative content_height_100perc">
        <div class="about__avatar-wrapper">
            <img class="about__avatar" src="{% static 'images/avatar.png' %}" alt="image">
        </div>
        <div class="about__column">
            <a class="about__brand-wrapper" href="/">
                <img class="about__brand" src="{% static 'images/brand/mini.svg' %}" alt="logotype">
            </a>
            <h2 class="about__title">
                Строите дом или дачу?
            </h2>
            <span class="about__subtitle">
                Пиломатериал оптом и в розницу от производителя по доступным ценам! Доставим любой объём в короткие сроки в любую точку Мира. Работаем  по всей территории РФ и за ее пределами!
            </span>
            <div class="about__avatar-wrapper about__avtar-wrapper_circle">
                <img class="about__avatar" src="{% static 'images/avatar.png' %}" alt="image">
            </div>
        </div>
        <div class="about__column about__column_end about__collumn_mt_small">
            <h2 class="about__title">
                Позвоните нам
            </h2>
            <span class="about__subtitle">
                и мы вышлем Вам прайс на интересующую Вас продукцию!
            </span>
            <a class="about__phone-number" href="tel: +7 (987) 757-57-18">+7 (987) 757-57-18</a>
            <a class="about__phone-number" href="tel: +7 (910) 386-66-61">+7 (910) 386-66-61</a>
            <div class="button button_end button_opacity" onclick="showFeedbackForm()">Заказать звонок</div>
        </div>
    </div>
</div>

