{% load static %}

<div class="export export_background_dark">
    <div class="content">
        <div class="export__content">
            <div class="export__icon-list">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-location-dot icon-wrapper__icon"></i>
                    <h3 class="icon-wrapper__title">Наш офис</h3>
                    <span class="icon-wrapper__span">г. Бор, Стеклозаводское ш., д. 3, к. 1, оф. 307</span>
                </div>
                <div class="icon-wrapper">
                    <i class="fa-solid fa-phone icon-wrapper__icon"></i>
                    <h3 class="icon-wrapper__title">Номера телефона</h3>
                    <a class="icon-wrapper__span" href="tel: +79877575718">+7 (987) 757-57-18</a>
                    <a class="icon-wrapper__span" href="tel: +79103866661">+7 (910) 386-66-61</a>
                </div>
                <div class="icon-wrapper">
                    <i class="fa-solid fa-envelope icon-wrapper__icon"></i>
                    <h3 class="icon-wrapper__title">Email</h3>
                    <a class="icon-wrapper__span icon-wrapper__span_email" href="mailto:lst-nn@bk.ru">lst-nn@bk.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="export export_with_map">
        <div class="export__map">
            <script src="https://api-maps.yandex.ru/2.1/?apikey=93b1ca85-43ff-4c96-a89e-70fb94c07ca3&lang=ru_RU" type="text/javascript"></script>
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="content export__content">
            <div class="export__form">
                {% include 'includes/feedback-form.html' with show_description_input=True id='footerFeedbackForm' subtitle='Мы заинтересованы в сотрудничестве с Вами! Отправьте заявку на интересующую Вас продукцию нашей компании и в течении 15 минут с Вами свяжется наш менеджер.' title='Мы заинтересованы в сотрудничестве с Вами!' %}
            </div>
        </div>
    </div>
</div>

