{% load static %}

    <div class="export content">
        <div class="infoblock">
            <h2 class="infoblock__title">Экспорт</h2>
            <div class="infoblock__line"></div>
        </div>
        <div class="export__content">
            <div class="export__image">
                <img class="image" src="{% static 'images/airplane.jpg'%}">
            </div>
            <div class="export__form">
                {% include 'includes/feedback-form.html' with id='exportFeedbackForm' title='Доставим в Вашу страну!' subtitle='Оставьте заявку в наш Экспортный отдел!<br>Узнайте стоимость доставки до Вашей страны!' %}
            </div>
        </div>
    </div>

