{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="products content">

    <div class="infoblock">
        <h2 class="infoblock__title">Наша продукция</h2>
        <div class="infoblock__line"></div>
    </div>

    <div id="productsCarousel" class="swiper products__carousel">
        <div class="swiper-wrapper products__carousel-wrapper">
            <div class="swiper-slide  products__item card">
                <div class="card__wrapper">
                    <div class="card__background" style="background-image: url({% static 'images/cards/card04.jpg' %})"></div>
                    <h2 class="card__title">Круглый лес</h2>
                    <span class="card__subtitle card__subtitle_weight-normal">ГОСТ 9463-88, Сорт 1-3, 18-50см. и выше</span>
                    <div class="card__items">
                        <div class="card__item">
                            <span class="card__item-title">Хвойные породы</span>
                            <span class="card__item-subtitle">Сосна, ель, лиственница, кедр</span>
                        </div>
                        <div class="card__item">
                            <span class="card__item-title">Лиственные породы</span>
                            <span class="card__item-subtitle">Осина, береза</span>
                        </div>
                    </div>
                    <div class="card__button button button_opacity" onclick="showFeedbackForm()">Узнать цены</div>
                </div>
            </div>
            <div class="swiper-slide  products__item card">
                <div class="card__wrapper">
                    <div class="card__background" style="background-image: url({% static 'images/cards/card02.jpg' %})"></div>
                    <h2 class="card__title">Пиломатериал</h2>
                    <span class="card__subtitle card__subtitle_weight-normal">ГОСТ 8486-86, Сорт 1-3, Влажность естественная, сухая</span>
                    <div class="card__items">
                        <div class="card__item">
                            <span class="card__item-title">Хвойные породы</span>
                            <span class="card__item-subtitle">Сосна, ель, лиственница, кедр</span>
                        </div>
                        <div class="card__item">
                            <span class="card__item-title">Лиственные породы</span>
                            <span class="card__item-subtitle">Осина, береза</span>
                        </div>
                    </div>
                    <div class="card__button button button_opacity" onclick="showFeedbackForm()">Узнать цены</div>
                </div>
            </div>
            <div class="swiper-slide  products__item card">
                <div class="card__wrapper">
                    <div class="card__background" style="background-image: url({% static 'images/cards/card01.jpg' %})"></div>
                    <h2 class="card__title">Пононаж</h2>
                    <span class="card__subtitle card__subtitle_weight-normal">ГОСТ 8486-86, Сорт А, АБ, С, Экстра</span>
                    <div class="card__items">
                        <div class="card__item">
                            <span class="card__item-title">Сосна, ель, лиственница, кедр</span>
                            <span class="card__item-subtitle">Вагонка, Имитация бруса, Планкен, Доска пола, Палубная доска, Террасная доска</span>
                        </div>
                    </div>
                    <div class="card__button button button_opacity" onclick="showFeedbackForm()">Узнать цены</div>
                </div>
            </div>
        </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

</div>

