{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if self.products.all %}
    <div class="products content">

        <div class="infoblock">
            <h2 class="infoblock__title">Наша продукция</h2>
            <div class="infoblock__line"></div>
        </div>

        <div id="productsCarousel" class="swiper products__carousel">
            <div class="swiper-wrapper products__carousel-wrapper">
                {% for product in self.products.all %}
                    {% image product.image fill-1024x500 as img %}
                    <div class="swiper-slide  products__item card">
                        <div class="card__wrapper">
                            <div class="card__background" style="background-image: url({{ img.url }})"></div>
                            <h2 class="card__title">{{ product.title }}</h2>
                            <span class="card__subtitle card__subtitle_weight-normal">{{ product.subtitle }}</span>
                            <div class="card__items">
                            {% for feature in product.features.all %}
                                <div class="card__item">
                                    <span class="card__item-title">{{ feature.title }}</span>
                                    <span class="card__item-subtitle">{{ feature.subtitle }}</span>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="card__button button button_opacity" onclick="showFeedbackForm()">Узнать цены</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

    </div>
{% endif %}

