{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

<div class="content screen">
    <div class="page-row page-row_space_between">
        <h2 class="page-title">Помощь / Вопрос-ответ</h2>
    </div>
    <div class="resp-menu-wrapper">
        <div class="resp-menu">
            <div class="resp-menu__header" onclick="">
                <span class="resp-menu__title">Как сделать заказ</span>
                <img class="resp-menu__icon" src="{% static 'images/resp1.svg' %}" alt="icon">
            </div>
            <div class="resp-menu__content resp-menu__content_hidden">
                <p class="page-par">
                    Lorem eius minima voluptates ipsam saepe fuga Ex eaque dicta magnam praesentium aperiam Lorem ullam commodi voluptatum ratione quos Odio cumque modi repellendus mollitia beatae Nam quia provident fugit dignissimos.
                </p>
            </div>
        </div>
        <div class="resp-menu">
            <div class="resp-menu__header">
                <span class="resp-menu__title">Как опллатить заказ?</span>
                <img class="resp-menu__icon" src="{% static 'images/resp1.svg' %}" alt="icon">
            </div>
            <div class="resp-menu__content resp-menu__content_hidden">
                <p class="page-par">
                    Lorem eius minima voluptates ipsam saepe fuga Ex eaque dicta magnam praesentium aperiam Lorem ullam commodi voluptatum ratione quos Odio cumque modi repellendus mollitia beatae Nam quia provident fugit dignissimos.
                </p>
            </div>
        </div>
        <div class="resp-menu">
            <div class="resp-menu__header">
                <span class="resp-menu__title">Курьер опаздывает, как я могу связаться со службой поддержки?</span>
                <img class="resp-menu__icon" src="{% static 'images/resp1.svg' %}" alt="icon">
            </div>
            <div class="resp-menu__content resp-menu__content_hidden">
                <p class="page-par">
                    Lorem eius minima voluptates ipsam saepe fuga Ex eaque dicta magnam praesentium aperiam Lorem ullam commodi voluptatum ratione quos Odio cumque modi repellendus mollitia beatae Nam quia provident fugit dignissimos.
                </p>
            </div>
        </div>
        <div class="resp-menu">
            <div class="resp-menu__header">
                <span class="resp-menu__title">Как я могу сделать заказ на юридическое лицо?</span>
                <img class="resp-menu__icon" src="{% static 'images/resp1.svg' %}" alt="icon">
            </div>
            <div class="resp-menu__content resp-menu__content_hidden">
                <p class="page-par">
                    Lorem eius minima voluptates ipsam saepe fuga Ex eaque dicta magnam praesentium aperiam Lorem ullam commodi voluptatum ratione quos Odio cumque modi repellendus mollitia beatae Nam quia provident fugit dignissimos.
                </p>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock extra_js %}

