{% load static %}

<div class="reviews content">

    <div class="reviews__wrapper">
        <div class="reviews__item">
            <i class="reviews__icon fas fa-clock"></i>
            <h2 class="reviews__title">Соблюдаем заявленные сроки</h2>
            <span class="reviews__subtitle">И прописываем их в договоре</span>
        </div>
        <div class="reviews__item">
            <i class="reviews__icon fas fa-plane"></i>
            <h2 class="reviews__title">Работает по РФ и на экспорт</h2>
            <span class="reviews__subtitle">Регулярные поставки, всегда в срок</span>
        </div>
        <div class="reviews__item">
            <i class="reviews__icon fas fa-tree"></i>
            <h2 class="reviews__title">Собственное производство</h2>
            <span class="reviews__subtitle">Поэтому цены ниже средних по рынку</span>
        </div>
        <div class="reviews__item">
            <i class="reviews__icon fas fa-users"></i>
            <h2 class="reviews__title">Персональный менеджер</h2>
            <span class="reviews__subtitle">Опытный менеджер всегда на связи</span>
        </div>
        <!-- <div class="reviews__item"> -->
        <!--     <i class="reviews__icon fas fa-shopping-cart"></i> -->
        <!--     <h2 class="reviews__title">Высокое качество продукции</h2> -->
        <!--     <span class="reviews__subtitle">Каждая доска проходит обработку</span> -->
        <!-- </div> -->
    </div>

</div>

